section.XP
  .container
    .wrapper
      .projects
        h3 Projects #[hr]
        ul.project-list
          li.project.erie
            .Erie
              h4 The Erie #[br] Hotel &amp; Restaurant
              .info
                .avatar
                  .content
                .infowrapper
                  .info-lists
                    ul.roles-list
                      li.role Project Management
                      li.role UX
                      li.role Development
                    hr
                    ul.tech-list
                      li.tech WordPress
                      li.tech Bootstrap
              .link
                a(href="//theeriehotel.com") View The Erie Hotel
          li.project.vokedex
            .Vokedex
              h4 Vokédex
              .info
                .avatar
                  .content
                .infowrapper
                  .info-lists
                    ul.roles-list
                      li.role Development
                      li.role UX
                      li.role Design
                    hr
                    ul.tech-list
                      li.tech Vue
                      li.tech PokéAPI
              .link
                a(href="dest/projects/vokedex") View Vokédex
      .social
        a.icon.github(href="https://github.com/Squidies" title="Github")
          include ../../img/github.min.svg
        a.icon.codepen(href="https://codepen.io/Squidies/" title="Codepen")
          include ../../img/codepenlogo.min.svg
        a.icon.linkedIn(href="javascript:void(0)" title="LinkedIn")
          include ../../img/linkedin.min.svg
        a.icon.resume(href="dest/files/KirtisMcGlynnResume.pdf" title="Resumé")
          include ../../img/resume.min.svg
