section.XP
  .container
    .projects
      h3 Projects
      ul.project-list
        li.project.erie
          .Erie
            h4 The Erie Hotel &amp; Restaurant
            .info
              .info
                .avatar
              .info-lists
                ul.roles-list
                  li.role Project Management
                  li.role UX
                  li.role Development
                hr
                ul.tech-list
                  li.tech WordPress
                  li.tech Bootstrap
        li.project.vokedex
          .Vokedex
            h4 Vokédex
            .info
              .avatar
              .info-lists
                ul.roles-list
                  li.role Development
                  li.role UX
                  li.role Design
                hr
                ul.tech-list
                  li.tech Vue
                  li.tech PokéAPI
      .social
        .github
        .codepen
    .resume
      h3 Resume
