section.XP
  .container
    .wrapper
      .projects
        h3 Projects #[hr]
        ul.project-list
          li.project.erie
            .Erie
              h4 The Erie Hotel &amp; Restaurant
              .info
                .avatar
                  .content
                .infowrapper
                  .info-lists
                    ul.roles-list
                      li.role Project Management
                      li.role UX
                      li.role Development
                    hr
                    ul.tech-list
                      li.tech WordPress
                      li.tech Bootstrap
              .link
                a(href="//theeriehotel.com") View The Erie Hotel
          li.project.vokedex
            .Vokedex
              h4 Vokédex
              .info
                .avatar
                  .content
                .infowrapper
                  .info-lists
                    ul.roles-list
                      li.role Development
                      li.role UX
                      li.role Design
                    hr
                    ul.tech-list
                      li.tech Vue
                      li.tech PokéAPI
              .link
                a(href="dest/projects/vokedex") View Vokédex
      .social
        .icon.github
          include ../../img/github.min.svg
        .icon.codepen
          include ../../img/codepenlogo.min.svg
        .icon.linkedIn
          include ../../img/linkedin.min.svg
        .icon.resume
