section.about-me
  .container
    .about
      .blurb
        .avatar
          include ../_components/_logo.pug
        p.
          I'm #[span.bold Kirtis McGlynn], a Frontend/UX developer located in Orange County NY. I create awesome interfaces using semantic HTML, CSS, and JavaScript. In my spare time I wrangle Tarantulas to study their habits, and be a better web developer.
      .contact
        span.email kirtismcglynn#[span #[img(src="./dest/img/amp.svg")]]gamil(dot)com
