html,
body {
  min-height: 100vh;
}

body {
  background: $bodygradient, $colorALT;
  background-size: 300%;
  background-repeat: no-repeat;
  color: $bg;
  font-family: $sans;
  font-size: 16px;
  letter-spacing: 3px;
  text-shadow: $textshadow;

  @media screen and (min-width: $tablet) {
    font-size: 1.66vw;
  }
}

header,
section {
  @include cf;
}
section {
  min-height: 90vh;
  padding: 10vh 4vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $sansbold;
}

h1,
h2 {
  margin: 0;
}

h1,
h2,
h3 {
  text-transform: uppercase;

  .tiny {
    text-transform: none;
  }
}

hr {
  width: 100px;
  border: 2px solid $bg;
  margin: 2rem auto;
}
