/**
 * Inspiration
 *
 * https://www.jasonjam.es/
 *
 * /* Coolors Exported Palette - coolors.co/cad6dc-04080f-292f36-4ecdc4-ffffff
 *
 * https://mycolor.space/gradient?ori=to+right+bottom&hex=%23FAFDFF&hex2=%23E9E9E9&sub=1
 */
@import './scss/__vars';
@import './scss/__mixins';

::selection {
  background: $selection;
}

html,
body {
  min-height: 100vh;
}

body {
  font-family: $sans;
  background: $bg_gradient;
  background-repeat: no-repeat;
  letter-spacing: 0.16rem;
  line-height: 1.99rem;
}

h2 {
  font-family: $serif;
}

img,
svg {
  max-width: 100%;
}

header,
section {
  @include cf;
  min-height: 100vh;
}

hr {
  width: 100px;
  height: 2px;
  background: $text;
  border: 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 8px;
}

.logowrapper {
  width: $logosize_sm;
  height: $logosize_sm;
  color: $bg;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 1rem;
  background: $stars, $bars_sm;
  background-repeat: no-repeat;
  background-position: 100% 100%, 0 0;
  background-size: 40px 30px, 100% 100%;
  margin: 20px auto;

  .pl {
    margin: 0.33rem;
  }

  .tiny {
    font-size: 0.66rem;
  }
}

//- header
.header {
  display: flex;

  .wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .headers {
    text-align: center;
  }

  h2 {
    display: flex;
    align-items: center;

    &:before,
    &:after {
      display: inline-block;
      height: 2px;
      background: $text;
      flex: 1;
      margin: 4px;
      content: ''
    }
  }
}

//- xp
.XP {
  background: $text;
  color: $bg;

  hr {
    background: $bg;
  }

  h3 {
    text-align: center;
    margin-bottom: 10rem;
  }

  .wrapper {
    padding-bottom: 2rem;
  }

  .project-list {
    list-style: none;
    padding: 0;
  }

  .info-lists {
    display: inline-block;
  }

  .social {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .icon {
    width: 30px;
  }
}

//- about
.about-me {

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: space-evenly;
  }

  .email {
    font-family: $serif;
    text-decoration: underline;

    &:hover {
      cursor: pointer;
    }

    span {
      width: 20px;
      display: inline-block;
    }
  }
}
