//- about
.about-me {

  .logowrapper {
    transform: rotate(180deg);

    .pl {
      transform: rotate(180deg);
    }
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: space-evenly;
  }

  p {
    max-width: 600px;
  }

  .email {
    font-family: $serif;
    text-decoration: underline;

    &:hover {
      cursor: pointer;
    }

    span {
      width: 20px;
      display: inline-block;
    }
  }
}
