//- header
.header {
  display: flex;

  .wrapper {
    height: 100vh; // needed for ie11 >_<
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .headers {
    text-align: center;
  }

  h2 {
    display: flex;
    align-items: center;

    &:before,
    &:after {
      display: inline-block;
      height: 2px;
      background: $text;
      flex: 1;
      margin: 4px;
      content: ''
    }
  }
}
