$color1: #fafdff;
$color2: #f6f8fa;
$color3: #f2f3f4;
$color4: #eeeeef;
$color5: #e9e9e9;

$color6: #04080F;
$color7: #292F36;
$color8: #4ECDC4;
$color9: #df2935;

$tp: transparent;

$sans: 'brandon-grotesque', sans-serif;
$serif: 'garamond-premier-pro-display', serif;

$bg: $color1;
$bg_gradient: linear-gradient(to right bottom, $color1, $color2, $color3, $color4, $color5);
$text: $color6;
$text_light: $color7;
$selection: $color8;
$selectionalt: $color9;
$shadow: 0 0 3px 0 transparentize($color7, 0.7);
$border_radius: 3px;

$logosize: 130px;
$logosize_sm: 65px;
$stars: linear-gradient(to bottom, $text, $text);
$bars_sm: repeating-linear-gradient(to bottom, $text 0px, $text ($logosize_sm / 13), $tp ($logosize_sm / 13), $tp (($logosize_sm / 13) * 2));
$bars: repeating-linear-gradient(to bottom, $text 0px, $text ($logosize / 13), $tp ($logosize / 13), $tp (($logosize / 13) * 2));

$md: 600px;
