html,
body {
  min-height: 100vh;
}

body {
  background: $bodygradient, $colorALT;
  background-size: 300%;
  background-repeat: no-repeat;
  color: $bg;
  font-family: $sans;
  letter-spacing: 3px;
}

header,
section {
  @include cf;
}
section {
  min-height: 90vh;
  padding: 10vh 4vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $sansbold;
}

hr {
  width: 100px;
  border: 2px solid $bg;
  margin: 2rem auto;
}
