section.XP
  .container
    .projects
      h3 Projects
      hr
      ul.project-list
        li.project.erie
          .Erie
            h4 The Erie Hotel &amp; Restaurant
            .info
              .avatar
              .info-lists
                ul.roles-list
                  li.role Project Management
                  li.role UX
                  li.role Development
                hr
                ul.tech-list
                  li.tech WordPress
                  li.tech Bootstrap
        li.project.vokedex
          .Vokedex
            h4 Vokédex
            .info
              .avatar
              .info-lists
                ul.roles-list
                  li.role Development
                  li.role UX
                  li.role Design
                hr
                ul.tech-list
                  li.tech Vue
                  li.tech PokéAPI
      .social
        .github
        .codepen
    .portfolio
      .github
      .codepen
      .resume
    //- .resume
    //-   h3 Resume
    //-   ul.skills
    //-     li.skillset
    //-       h4 #[span.bold Front End] Development
    //-       ul.list
    //-         li.skill HTML
    //-         li.skill CSS
    //-         li.skill JavaScript (ES5, ES6/2015) #[br] jQuery
    //-     li.skillset
    //-       h4 #[span.bold Build Tools] Workflow
    //-       ul.list
    //-         li.skill Webpack #[br] Rollup.js
    //-         li.skill NPM Scripts
    //-         li.skill Gulp
    //-   ul.skills
    //-     li.skillset
    //-       h4 #[span.bold Preprocessors/Tooling] Development
    //-       ul.list
    //-         li.skill Pug
    //-         li.skill Scss/Sass, Less
    //-         li.skill Babel
    //-     li.skillset
    //-       h4 #[span.bold Content Management Systems] (CMS)
    //-       ul.list
    //-         li.skill WordPress
    //-         li.skill MODX
    //-         li.skill Joomla
    //-   ul.skills
    //-     li.skillset
    //-       h4 #[span.bold UI Frameworks] Prototyping
    //-       ul.list
    //-         li.skill Vue.js
    //-         li.skill Bootstrap
    //-         li.skill Bulma
    //-     li.skillset
    //-       h4 #[span.bold General] Other Stuff
    //-       ul.list
    //-         li.skill Responsive Design
    //-         li.skill OSX/Linux/Windows
    //-         li.skill Git
    //-         li.skill Adobe Creative Suite CC
